<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Add a photo</h1>
      <nav>
        <ul>
          <li>
            <a href="/photos">Back to photos</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="/photos" method="POST">
        Photo title: <input type="text" name="title" /></br>
        Photo url: <input type="text" name="url"/></br>
        <select name="name">

          <%for (let i = 0; i < users.length; i++){%>

              <option value="<%=users[i]._id%>"><%=users[i].name%></option>
          <%}%>
        </select><br/>
        <input type="submit" value="create photo"/>
      </form>
    </main>
  </body>
</html>