<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Add a photographer</h1>
      <nav>
        <ul>
          <li>
            <a href="/users">Back to users</a>
          </li>
          <li>
            <a href="/photos">Photo Gallery</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="/users" method="POST">
        <input type="text" name="name" />
        <input type="text" name="specialty"/>
        <input type="password" name="password"/>
        <input type="submit" value="create user"/>
      </form>
    </main>
  </body>
</html>